@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background: transparent;
  background-image: linear-gradient(to right, #63636471, #636364ba),
    url("bigstock-Cutout-paper-chain-family-with-16555013.jpg");
  margin: 0 40px;
  height: 100vh;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
}

.navbar .logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  padding-left: 10px;
}

.z-letter {
  position: absolute;
}

.logo {
  position: relative;
  margin-left: 75px;
}

.navbar {
  width: 100%;
  margin-left: auto 50px;
  height: 80px;
  background: rgb(73, 69, 69);
  padding: 0 50px;
}

ul.menu,
ul.social_items {
  display: flex;
}

.navbar ul.menu a {
  margin: 5px 20px;
  width: 120px;
  padding-top: 12px;
  text-align: center;
  text-transform: none;
  font-weight: 100;
  transition: all 0.2s ease;
}

a :hover {
  background-color: red;
}

.navbar .logo {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar .logo span {
  color: #ffffff;
}

.navbar .logo {
  color: white;
}

.navbar_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  position: relative;
  background: white;
  margin: 0 40px;
  height: 235vh;
}

.car {
  width: 200px;
  height: 150px;
  background-color: rgb(73, 69, 69);
  padding-left: 35px;
  padding-top: 40px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 10% 25%;
  float: left;
}

.car.me {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgb(73, 69, 69);
  padding-left: 35px;
  padding-top: 40px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 9.5% 39%;
  float: left;
}

.car.you {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgb(73, 69, 69);
  padding-left: 65px;
  padding-top: 35px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 22% 23.5%;
  float: left;
}

.car.he {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgb(73, 69, 69);
  padding-left: 70px;
  padding-top: 40px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 22% 55%;
  float: left;
}

.car.she {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgb(73, 69, 69);
  padding-left: 65px;
  padding-top: 40px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 22% 39%;
  float: left;
}

.car.it {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgb(73, 69, 69);
  padding-left: 65px;
  padding-top: 40px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 9.5% 55%;
  float: left;
}

.car.they:hover {
  background: red;
  transition: 1s;
}

.active:hover {
  background: rgb(41, 40, 40);
}

.text {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  padding-top: 100px;
}

.tez {
  position: absolute;
  height: 360px;
  width: 380px;
  box-shadow: 0px 0px 5px 4px rgb(243, 237, 237);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 30px;
}

.fast-img {
  position: absolute;
  padding-left: 120px;
  padding-top: 60px;
}

.tez-yazi {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  padding-left: 170px;
  padding-top: 200px;
}

.biz-yazi-boyuk {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  padding-top: 240px;
  padding-left: 6px;
  letter-spacing: 2px;
}

.tez:hover {
  transform: translateY(-6px);
  box-shadow: 5px 15px 20px rgba(184, 71, 71, 0.431);
  transition: all 0.5s;
}

.icbari {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 450px;
  padding-top: 65px;
}

.kasko {
  color: white;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 30px;
  padding-top: 70px;
}

.seyahet {
  color: white;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 55px;
  padding-top: 50px;
}

.icbari-emlak {
  color: white;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 35px;
  padding-top: 70px;
}

.tibbi {
  color: white;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 71px;
  padding-top: 70px;
}

.diger {
  color: white;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 71px;
  padding-top: 70px;
}

.rahat {
  position: absolute;
  height: 360px;
  width: 380px;
  box-shadow: 0px 0px 5px 4px rgb(243, 237, 237);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 535px;
}

.rahat-yazi {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  padding-left: 160px;
  padding-top: 200px;
}

.rahat-yazi-boyuk {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  padding-top: 240px;
  padding-left: 6px;
  letter-spacing: 2px;
}

.guvenli {
  position: absolute;
  height: 360px;
  width: 380px;
  box-shadow: 0px 0px 5px 4px rgb(243, 237, 237);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 1030px;
}

.guvenli-yazi {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  padding-left: 135px;
  padding-top: 200px;
}

.guvenli-yazi-boyuk {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  padding-top: 235px;
  padding-left: 6px;
  letter-spacing: 2px;
}

.diger {
  position: relative;
  width: 250px;
  height: auto;
  background-color: red;
  top: 420px;
  left: -113%;
}

.diger-yazi {
  position: absolute;
  top: 28px;
  font-size: 17px;
  left: 33px;
}

.contact-in {
  position: absolute;
  height: 60vh;
  width: 100%;
  background: #fff;
  display: flex;
  margin-top: 650px;
}

.elaqe {
  position: absolute;
  height: 110px;
  width: 100%;
  background: rgb(37, 36, 36);
  margin-top: 1100px;
}

.h6 {
  padding-top: 45px;
  padding-left: 170px;
}

.another-letter {
  position: absolute;
  padding-top: 24px;
  padding-left: 95px;
}

.num {
  position: inherit;
  margin-top: -20px;
  margin-left: 650px;
}

.phone-call {
  position: inherit;
  margin-top: -22px;
  margin-left: 620px;
}

.num-two {
  position: inherit;
  margin-top: -20px;
  margin-left: 860px;
}

.whatsapp {
  position: inherit;
  margin-top: -22px;
  margin-left: 830px;
}

.email {
  position: inherit;
  margin-top: -20px;
  margin-left: 1055px;
}

.email-photo {
  position: inherit;
  margin-top: -22px;
  margin-left: 1025px;
}

.ves {
  position: absolute;
  height: 320px;
  width: 100%;
  background: rgb(75, 74, 74);
  margin-top: 1210px;
}

.last {
  position: absolute;
  height: 120px;
  width: 100%;
  background: rgb(94, 92, 92);
  margin-top: 1530px;
}

.follow {
  color: white;
  font-size: 17px;
  font-weight: 550;
  font-family: "Open Sans", sans-serif;
  position: inherit;
  margin-top: 55px;
  margin-left: 110px;
}

.linkedin {
  position: inherit;
  margin-top: 50px;
  margin-left: 240px;
}

.facebook-icon {
  position: inherit;
  margin-top: 50px;
  margin-left: 290px;
}

.instagram-icon {
  position: inherit;
  margin-top: 50px;
  margin-left: 340px;
}

.youtube {
  position: inherit;
  margin-top: 50px;
  margin-left: 390px;
}

.size {
  color: white;
  font-size: 16px;
  font-weight: 550;
  margin-left: 850px;
  margin-top: 30px;
}

.daha {
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-left: 850px;
  margin-top: 10px;
}

.app-store {
  position: inherit;
  margin-top: 15px;
  margin-left: 850px;
}

.play-market {
  position: inherit;
  margin-top: 15px;
  margin-left: 905px;
}

.huawei {
  position: inherit;
  margin-top: 15px;
  margin-left: 955px;
}

.ves {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  color: white;
  width: 13%;
  padding-left: 105px;
  padding-top: 40px;
}

.footer-col .ul {
  font-weight: 15;
}

.footer-col h4 {
  font-size: 17px;
}

.f {
  padding-top: 35px;
}

.u {
  padding-top: 15px;
}
